*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.contenitore{
 font-family: Museo Sans;
}

#bottone-help{
 display: block;
 position: fixed;
 background-color: rgb(123, 188, 0);
 left:77%;
 top:93.5%;
 color: white;
 padding: 8px 10px 21px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 cursor: pointer;
}

header{
 background-color: #0D325A;
 width: 100%;
 height: 100px;
 padding: 20px 66px;
 display: table;
 content: "";
 clear: both;
}

#logo{
 margin-left: 35px;
 float: left;
}

#logo img:hover{
 cursor: pointer;
}

.navbar-selezione{
 float: left;
 width: 45%;
 font-size: 12px;
 margin-top: 10px;
 margin-left: 25px;
}

.navbar-selezione ul li a{
 text-decoration: none;
 color: white;
 font-weight: bold;
}

.navbar-login{
 float: right;
 margin-right: 12px;
 font-size: 12px;
 margin-top: 10px;
}

ul{
 list-style-type: none;
}

ul li{
 float: left;
 margin: 8px;
 font-weight: bold;
}

.navbar-login ul:first-child{
 color: rgba(255,255,255,.5);
 cursor: pointer;
}

.navbar-login ul li:nth-child(2){
 border: 1px solid #4e8cb6;
 border-radius: 5px;
 opacity: .9;
 padding: 8px 25px;
 position: relative;
 transform: translate(0px, -10px);
 cursor: pointer;
 margin-right: 0px;
}

[href="#login"]{
 color:white;
 text-decoration: none;
 border-color: #4e8cb6;
}

.struttura{
 border-radius: 5px;
 padding: 8px 10px;
 position: relative;
 transform: translate(0px, -10px);
 cursor: pointer;
 background-color: #7fb802;
}

[href="#struttura"]{
 text-decoration: none;
 color:white;
}


#contenuto-intestazione{
 background-color: #0D325A;
 width: 100%;
 height: 400px;
}

#testo-titolo{
 position: absolute;
 margin: 90px 0px 120px 100px;
}

#testo-titolo h1{
 color: white;
 font-size: 45px;
 font-weight: 500;
 margin-bottom: 40px;
}

#testo-titolo a{
 padding: 14px 10px;
}

#immagine-oldman{
 float: right;
 background-image: url(../img/oldman.png);
 background-size: cover;
 width: 51.5%;
 height: 100%
}

.cont-testo{
 background-color: #f9f9f9;
 width: 100%;
 height: 180px;
 text-align: center;
 padding: 50px;
}

.cont-testo h4{
 font-size: 28px;
 font-weight: 300;
 color:rgb(55, 58, 60);
}

.cont-testo p{
 font-size: 20px;
 color:rgb(153, 153, 153);
}

#riass-percorso{
 background-color: red;
 width: 100%;
 height: 500px;
 text-align: center;
}

.immagine-testo{
 background-color: blue;
 float: left;
 margin: 10px;
 width: 30%;
}

.immagine-testo .immagine{
 margin: 10px 122px;
}

.immagine{
 height: 220px;
}

.profile > img{
 height: 160px;
}

.immagine-testo h6{
 color: #7fb802;
 font-size: 28px;
}

.immagine-testo hr{
 opacity: .3;
 width: 32px;
 border-top: 2px solid;
 margin: 16px 159px;
 display: inline-block;
 text-align: center;
}

.immagine-testo p{
 font-size: 20px;
 font-weight: 300;
 line-height: 25px;
 color: #999;
}

.computer{
 margin-bottom: 100px;
}

.computer > img{
 height: 143px;
}

.doc > img{
 height: 152px;
}

hr{
 margin: 5px;
 background: grey;
}

#personale{
 background-color: blue;
 width: 100%;
 height: 500px;
}

#piano{
 background-color: #f9f9f9;
 width: 100%;
 height: 250px;
}

#one-to-one{
 background-color: #0D325A;
 width: 100%;
 height: 500px;
}

#inglese-essenz{
 width: 100%;
 height: 730px;
}

#tecnologia{
 width: 100%;
 height: 565px;
}

#azienda-ing{
 background-color: #0D325A;
 width: 100%;
 height: 500px;
}

#struttura-piano{
 width: 100%;
 height: 546px;
}

#faqs{
 background-color: #0F335A;
 width: 100%;
 height: 136px;
}

footer{
 background-color: #17406B;
 width: 100%;
 height: 412px;
}
